::ng-deep table.mat-table {
    width: 100%;
    height: 100%;
    padding : 10px;
}

mat-header-row, mat-row {
    height: auto;
}
mat-header-cell {
    padding: 16px; /* Default Material padding */
}

::ng-deep .custom-red-style {
    background-color: rgb(161, 21, 21);
    font-weight: bold;
}
  
::ng-deep .custom-style {
    background-color: rgb(64, 165, 64);
}
::ng-deep .mat-simple-snackbar-action > button {
    color: white;
}