<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400;700&display=swap" />

<div class="bg-customGrey p-0 min-h-screen w-full h-full">

    <!-- Upper container (notifcation + logo)-->
    <div class="flex justify-center items-center w-full h-[10%]">

        <!-- logo -->
        <div class="w-[30%] flex justify-center items-center">
            <img src="/assets/images/logo.png" alt="Logo" class="h-12 md:h-16">                
            <span class="p-0 font-bold text-lg md:text-xl text-black ml-2">My SmartGarden Monitoring</span>
        </div>

        <div class="h-full flex w-[90%]">

            <div class="h-full flex justify-center items-center p-2 w-[30%] ml-auto">
                <div class="bg-darkGrey flex w-[50%] rounded-md h-[60%] ml-auto">
                    <div class="h-full w-[20%] bg-lime-500 flex justify-center items-center">
                        <mat-icon matBadge="3" matBadgeColor="warn">notifications_none</mat-icon>
                    </div>
                    <div class="w-[80%] h-full flex items-center justify-center">
                        <span class="text-base">Alerts</span>

                    </div>

                </div>

            </div>


        </div>


    </div>

    <div class="bg-blue-600 flex justify-center items-center h-[90%] w-full">

        <mat-drawer-container class="w-full bg-blue-400 h-full" autosize>

            <!-- Drawer (on the left)-->
            <mat-drawer #drawer class="w-[9%] bg-customGrey" mode="side" opened="true">
                <div class="flex flex-col items-center h-full justify-center">
                    <div class="flex p-2 w-[80%] flex-col h-full gap-2">

                        <div class="bg-darkGrey rounded-md flex justify-center items-center h-[30%] w-full bg-cover bg-center" style="background-image: url('/assets/images/small_plant2.png');">

                        </div>
                        <!--div class="flex-grow"></!--div-->

                        <div class="flex mt-auto flex-col gap-2 h-[67%]">
                            <button mat-flat-button class="!bg-darkGreen rounded-sm p-0">
                                <span class="material-icons">
                                    home
                                </span>
                            </button>

                            <button mat-flat-button class="!bg-darkGreen rounded-sm p-0">
                                <span class="material-symbols-outlined">
                                    network_node
                                </span>
                            </button>

                            <button mat-flat-button class="!bg-darkGreen rounded-sm p-0">
                                <span class="material-symbols-outlined">
                                    compost
                                </span>
                            </button>

                            <div class="flex w-full mt-16">
                                <span (click)="drawer.toggle()" class="cursor-pointer ml-auto material-symbols-outlined text-gray-700">
                                    arrow_back_ios
                                </span>
                            </div>
                            <div class="flex-grow"></div>

                            <button mat-flat-button class="!bg-darkGreen mt-auto flex justify-end items-end rounded-sm p-0">
                                <span class="material-symbols-outlined">
                                    logout
                                </span>
                            </button>
                        </div>


                        <!--button mat-flat-button class="!bg-darkGreen flex justify-end items-end rounded-sm p-0 mt-auto">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                        </!--button-->
                    </div>

                </div>
            </mat-drawer>

            <!-- the main page (dashboard)-->
            <div class="relative flex flex-col bg-customGrey h-full w-full">

                <!-- Plant list && Time + Location -->
                <div class="flex p-2 gap-2 w-full h-[32%]">

                    <!-- List of all the plants -->
                    <div class="p-2 bg-darkGrey rounded-md flex flex-col h-full w-[65%]">

                        <!-- Title -->
                        <div class="p-2 h-[10%] flex justify-center items-center">
                            <span class="text-lightGreen font-bold text-xl">My plants to monitor </span>
                            <span class="cursor-pointer material-symbols-outlined text-lime-500" style="font-size: 30px;" >
                                add_box
                            </span>
                        </div>


                        <div class="p-1 h-[90%] flex">
                            <div class="p-2 flex gap-1">
                                <mat-card class="bg-white cursor-pointer h-full w-[50%] flex flex-col items-center justify-center">
                                    <mat-card-header class="flex justify-center w-full">
                                        <mat-card-title><span class="text-black font-thin">Tomato</span></mat-card-title>
                                    </mat-card-header>
                                    <div class="flex justify-center items-center h-[80%]">
                                        <img mat-card-image class="h-auto w-full max-h-[80%] object-contain" src="/assets/images/plants/tomato.png" alt="Tomato">
                                    </div>
                                    <!--mat-card-content>
                                    <p>
                                        This is an image of a tomato.
                                    </p>
                                    </mat-card-content-->
                                </mat-card>

                                <mat-card class="bg-white cursor-pointer h-full w-[50%] flex flex-col items-center justify-center">
                                    <mat-card-header>
                                    <mat-card-title><span class="text-black font-thin">Pea</span></mat-card-title>
                                    </mat-card-header>
                                    <div class="flex justify-center items-center h-[80%]">
                                        <img mat-card-image class="h-auto w-full max-h-[80%] object-contain" src="/assets/images/plants/pea.png" alt="Tomato">
                                    </div>
                                    <!--mat-card-content>
                                    <p>
                                        This is an image of a tomato.
                                    </p>
                                    </mat-card-content-->
                                </mat-card>

                                <mat-card class="bg-white cursor-pointer h-full w-[50%] flex flex-col items-center justify-center">
                                    <mat-card-header class="flex justify-center w-full">
                                        <mat-card-title><span class="text-black font-thin">Chickpea</span></mat-card-title>
                                    </mat-card-header>
                                    <div class="flex justify-center items-center h-[80%]">
                                        <img mat-card-image class="h-auto w-full max-h-[80%] object-contain" src="/assets/images/plants/chickpea.png" alt="Tomato">
                                    </div>
                                    
                                </mat-card>
                            </div>
                        </div>
                    </div>

                    <!-- Time && Location -->
                    <div class="bg-lightGreen flex justify-center items-center rounded-md h-full w-[35%]" >
                        <!-- Location && Date-->
                        <div class="flex w-[45%] flex-col justify-center items-center gap-6">
                            <div class="flex justify-center items-center">
                                <span class="flex justify-center items-center">
                                    <mat-icon>location_on</mat-icon>
                                    Firma X, Bizerte, Tunisie
                                </span>
                            </div>

                            <div class="flex justify-center items-center">
                                <span class="flex justify-center items-center">
                                    <mat-icon>today</mat-icon>
                                    Tue, 10 November 2024
                                </span>
                            </div>

                            <div class="flex gap-4">
                                <div class="flex justify-center items-center">
                                    <mat-icon>arrow_upward</mat-icon>
                                    <span>H : 32°C</span>
                                </div>
                                <div class="flex justify-center items-center">
                                    <mat-icon>arrow_downward</mat-icon>
                                    <span>L : 18°C</span>
                                </div>
                            </div>
                        </div>

                        <!-- Hour -->
                        <div class="flex justify-center items-center w-[50%]"><span class="text-7xl">09:30</span></div>
                    </div>

                </div>

                <!-- Charts + tasks management -->
                <div class="flex p-2 gap-2 w-full h-[68%]">

                    <div class="p-2 bg-darkGrey rounded-md flex justify-center items-center h-full w-[65%] bg-cover bg-center" style="background-image: url('/assets/images/green_grass.png');">
                        <div class="p-0 flex flex-col gap-2 justify-center items-center w-[85%] h-[93%]">
                            <!-- First row of 3 metrics-->
                            <div class="flex gap-2 h-[50%] w-[100%]">

                                <!-- Temperature -->
                                <div class="blur-box h-full w-full flex flex-col gap-2">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full flex">
                                        <div class="flex justify-center items-center">
                                            <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                thermostat
                                            </span>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <span class="text-lg mt-0">Temperature</span>
                                        </div>
                                    </div>
                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span class="text-7xl"><b>29</b><span class="text-lime-500">°C</span></span>
                                    </div>
                                </div>

                                <!-- Humidity -->
                                <div class="blur-box h-full w-full gap-2 flex flex-col">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full flex">
                                        <div class="flex justify-center items-center">
                                            <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                humidity_percentage
                                            </span>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <span class="text-lg mt-0">Humidity</span>
                                        </div>
                                    </div>

                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span class="text-7xl"><b>50</b><span class="text-lime-500">%</span></span>
                                    </div>
                                </div>

                                <!-- Wind -->
                                <div class="blur-box h-full w-full flex flex-col gap-2">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full flex">
                                        <div class="flex justify-center items-center">
                                            <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                air
                                            </span>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <span class="text-lg mt-0">Wind</span>
                                        </div>
                                    </div>
                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span><span class="text-7xl"><b>25</b></span><span class="text-lime-500 text-4xl">Km/h</span></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Second row of 3 metrics -->
                            <div class="flex gap-2 h-[50%] w-[100%]">

                                <!-- UV index -->
                                <div class="blur-box h-full w-full flex flex-col gap-2">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full">
                                        <!-- Logo -->
                                        <div class="flex">
                                            <div class="flex justify-center items-center">
                                                <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                    sunny
                                                </span>
                                            </div>
                                            <div class="flex justify-center items-center">
                                                <span class="text-lg mt-0">UV Index</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span class="text-7xl"><b>4</b></span>
                                    </div>
                                    <!--div class=" h-[20%] w-full p-2 flex justify-center items-center">
                                        <ngx-gauge [ngStyle]="{'width': '50px', 'height': '50px'}" class="" [value]="4" [max]="10" [min]="0" [type]="'full'"></ngx-gauge>
                                        <canvas baseChart
                                            [labels]="doughnutChartLabels"
                                            [datasets]="doughnutChartDatasets"
                                            [options]="doughnutChartOptions"
                                            [legend]="false"
                                            [type]="'doughnut'"
                                            style="width: 50px; height: 50px;">
                                        </canvas>
                                    </!--div-->
                                </div>

                                <!-- Soil Moisture -->
                                <div class="blur-box h-full w-full flex flex-col gap-2">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full">
                                        <!-- Logo -->
                                        <div class="flex">
                                            <div class="flex justify-center items-center">
                                                <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                    sprinkler
                                                </span>
                                            </div>
                                            <div class="flex justify-center items-center">
                                                <span class="text-lg mt-0">Soil Moisture</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span><span class="text-7xl"><b>13</b></span><span class="text-lime-500 text-4xl">%</span></span>
                                    </div>
                                </div>

                                <!-- Light Intensity -->
                                <div class="blur-box h-full w-full flex flex-col gap-2">
                                    <!-- Logo and metric name-->
                                    <div class="h-[20%] w-full">
                                        <!-- Logo -->
                                        <div class="flex">
                                            <div class="flex justify-center items-center">
                                                <span class="text-lime-500 text-5xl material-symbols-outlined" style="font-size: 40px;">
                                                    brightness_6
                                                </span>
                                            </div>
                                            <div class="flex justify-center items-center">
                                                <span class="text-lg mt-0">Light intensity</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-[50%] w-full p-2 flex justify-center items-center">
                                        <span><span class="text-7xl"><b>13</b></span><span class="text-lime-500 text-4xl">Lux</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-2 bg-darkGrey flex flex-col rounded-md h-full w-[35%]">
                        <!-- Title && Progress && count-->
                        <div class="w-full p-2 h-[25%] flex flex-col">

                            <div class="flex h-[50%] w-full">
                                <span class="material-symbols-outlined text-lime-400">
                                    psychiatry
                                </span>
                                <span class="font-bold text-black text-xl">Tasks</span>
                            </div>
                            
                            <div class="h-[20%] w-full">
                                <mat-progress-bar class="custom-progress-bar" mode="determinate" value="40"></mat-progress-bar>
                            </div>
                            <div class="h-[5%] w-full flex">
                                <span class="text-black"><b>40%</b></span>
                                <div class="flex-grow"></div>
                                <span class="text-black"><b>2/5</b> Tasks Completed</span>
                            </div>

                        </div>

                        <!-- Container of all tasks -->
                        <div class="w-full p-2 gap-2 h-[75%] flex flex-col overflow-y-auto">

                            <mat-card *ngFor="let task of tasks" class="bg-white w-full h-auto max-h-[55%] flex flex-col items-center justify-center">
                                <mat-card-header class="!w-full h-[40%] !p-0 flex ">
                                    <div class=" flex !w-full !h-full !p-0">
                                        <div class="flex w-full p-0">
                                            <div class="p-0 -ml-8">
                                                <span class="text-neutral-700 text-xl p-0 font-bold">
                                                    {{ task.title }}
                                                </span>
                                            </div>
                                            <div class="flex-grow"></div>
                                            <div class="p-0">
                                                <button class="circle p-0" [class.checked]="task.completed" (click)="toggleTask(task)">
                                                    <span *ngIf="task.completed" class="material-icons">check</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>

                                <div class="flex flex-col h-[80%]">
                                    <p class="text-neutral-900">{{ task.description }}</p>
                                    <p class="text-neutral-600 font-thin">{{ task.time }}</p>
                                </div>
                            </mat-card>

                        </div>
                    </div>
                    

                </div>
                
            </div>

        </mat-drawer-container>
        <!--div class="bg-pink-500 w-[10%] h-full"></!--div>
        <div-- class="bg-blue-600 w-[90%] h-full"></div-->

    </div>
</div>